body {
    font-family: IRANSans !important;
}

input , textarea , .table-fontSize {
    font-size: 12px !important;
    line-height: 1.7;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.sweet-alert {
    font-family: IRANSans !important;
}

/*
 * Sidebar
 */

.mini-submenu{
    position: fixed;
    display: block;  
    background-color: rgba(0, 0, 0, 0);  
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;  
    width: 42px;
    top: 10px;
    right: 5px;
    z-index: 1000;
}

.mini-submenu:hover{
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu .icon-bar {
    background-color: #000;
}
  
#slide-submenu{
    position: relative;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(224, 0, 0);
    left: -15px;
    top: 5px;
    z-index: 10000;
    font-size: 2em;
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
#panel-mid-content {
    padding: 40px 55px 0 0;
}
#panel-mid-content h2 {
    border-bottom: 1px groove silver;
    padding-bottom: 10px;
}
@media (max-width: 767px) {
    #panel-mid-content {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 5px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #1d1d1d;
        border-right: 1px solid #eee;
    }

    #slide-submenu{
        left: -15px;
        top: -30px;
    }

    .mini-submenu{
        display: none;
    }

}

.list-group {
    margin-top: 15px;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.ul-logout li {
    list-style: none;
}
.ul-logout li a:hover, .ul-logout li a:focus {
    background-color: #c70000;
}
.ul-logout li a {
    font-size: 1.05em;
} 

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.text-small {
    font-size: 14px;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.head-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-label {
    margin-bottom: 10px !important;
}

#upload-data-buttons {
    width: 100%;
    height: 100%;
}

#upload-data-buttons button.styled, #upload-data-buttons label.col {
    padding: 20px;
    background-color: #ccc;
    border: 1px solid silver;
    border-bottom: 5px solid #e03d00;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    border-radius: 2px 2px 20px 20px;
}

#upload-data-buttons button.styled:hover, #upload-data-buttons label.col:hover {
    background-color: #eee;
    border-bottom: 5px solid orangered;
}

ul.city_list li {
    list-style: none;
    display: inline-block;
    padding: 10px 0;
}