@import "files/bootstrap.min.css";
@import "files/bootstrap-rtl.min.css";
@import "files/font-awesome.min.css";
@import "files/sweetalert.css";

@import "login/login.css";
@import "login/font-face.css";
@import "login/overrides.css";

input {
  font-weight: normal;
}
body {
  font-family: 'Sahel';
}
